# Android release build.gradle snippet
# Merge into mobile/android/app/build.gradle release buildType:

# buildTypes {
#   release {
#     minifyEnabled true
#     shrinkResources true
#     proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
#     debuggable false
#     signingConfig signingConfigs.release
#   }
# }
